{% extends "base.twig" %}
{% set body_class = 'four0four-page' %}

{% block main %}
	<section class="main">
		<p>Przepraszamy, nie ma takiej strony...</p>
		<a href="{{ site.link }}" class="btn btn--primary">wróć na stronę główną</a>
	</section>
{% endblock %}
