<header class="header">
	<div class="header__inner">
		<a href="{{ site.link }}" class="header__logo-link">
			<img src="{{ site.theme.link }}/public/images/logo.png" alt="Logo" class="header__logo">
		</a>
		<ul class="header__menu">
			<li class="header__menu-item">
				<a href="#" class="header__menu-link">Link 1</a>
			</li>
			<li class="header__menu-item">
				<a href="#" class="header__menu-link">Link 2</a>
			</li>
		</ul>
	</div>
</header>
